.git
**/.git
**/__pycache__
*.py[cod]
*.egg-info
.coverage
.pytest_cache
.venv
.vscode
.idea
.DS_Store
.env
.env.*
docker/**/.env
build
install
log
output
*.mcap
*.pt
models/*
!models/dinov3-vits16
!models/dinov3-vits16/**
data/
